body {
	width:100%;
	font-family: "Roboto", sans-serif; 
	margin: 0;
	padding: 0;
}

header {
	background-image: url(images/img1.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	padding-top:502px;
}

.container {
	padding: 10px 0;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.titre {
	color: #FFF;
	font: 60px "Roboto", sans-serif;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	width: 750px;
	margin-top: 502px;
	margin: auto;
	margin-bottom: 52px;
}

.learnmore {
	color: #FFF;
	font: 18px "Roboto", sans-serif;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 2px solid white;
	width: 182px;
	margin: auto;
	margin-bottom: 306px;
}

.CALvert {
	color: #2ecc71;
}

#Focal {
	width: 30%;
	font: 30px "Roboto", sans-serif;
	color:white;
	display: flex;
}

.menucontainer {
	display: flex;
	background-color: #252e30;
	width: 100%;
	height: 70px;

}

nav>ul {
	color: white;
	padding-left:0;
	width: 70%;
	display:flex;
	justify-content: flex-end;
	list-style: none;
}

ul>li {
	font: 16px roboto, sans-serif;
	color: white;
	padding-left: 20px;
	margin: 0;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: border;
	border: 2px;
	color: #2ecc71;
}

.active {
	 color: #2ecc71;
	 border-color: #2ecc71;
	 border: 1px solid;
	 padding-right: 8px;
	 padding-left: 8px;
	 padding-top: 2px;
	 padding-bottom: 2px;
}

.ul {
	width: 70%;
	display: flex-end;
}

.colonnesvalues {
	display: flex;

}

#values {
	padding-top: 30px;
}

#values article {
	padding-right: 20px;
}

#values h3 {
	font-family: "Roboto", sans-serif;
	color: #4a5052;
	font-size: 20px;
} 

#values .colonnesvalues div:last-child article {
	padding-right: 0;
}

.colonnesvalues p {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	color: #919191;
	text-align: justify;
}

#aboutme {
	background-image: url(images/img2.jpg);
	background-color: #f2f2f1;
	background-repeat: no-repeat;
	background-position: top left;
	padding-bottom: 100px;
}

#aboutme section {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 400px;
	
}

#colonnes {
	display: flex;
	flex-wrap: wrap;
}

#aboutme .competences {
	width: 42%;
	padding-left: 0px;
	position: relative;
}

#aboutme h3 {
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	color: #566366;
	text-align: justify;
}

#aboutme h4 {
	font-family: "Roboto", sans-serif;
	font-size: 22px;
	color: #566366;
	text-align: justify;
	padding-left: 40px;
}

#aboutme p {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	color: #919191;
	text-align: justify;
}

.competences p {
	padding-left: 40px;
}

#aboutme .competences:before{
	content: "\f0ac";
	font-family: FontAwesome, sans-serif;
	color: #2ecc71;
	font-size: 40px;
	position: absolute;
	top: 32px;
	left: 44px;
}

#aboutme .competences:nth-child(2):before{
	content: "\f040";
}

#aboutme .competences:nth-child(3):before{
	content: "\f0c0";
}

#aboutme .competences:nth-child(4):before{
	content: "\f0c6";
	transform: scaleY(-1);
}

#aboutme article{
	padding-top: 100px;
	padding-left: 100px;
}

#aboutme .competences {
	padding-left: 60px;
}

.boxskills {
	width: 50%;
}

.boxskills h3{
	font-family: 'Roboto';
	font-size: 20px;
	color: #919191;
	margin-top: 95px;
}

.boxskills p{
	font-family: 'Roboto'
	font-size: 14px;
	color: #919191;
	margin-top: 95px;
	text-align: justify;
}

#boxskills .container {
	padding-bottom: 100px;
}

.boxskills h4 {
	font-family: 'Roboto';
	font-size: 20px;
	color: #4a5052;
	margin-left: 100px;
	margin-bottom: 10px;
}

.progression {
	background-color: #d9d9c9;
	width: 100%;
	height: 30px;
	margin-left: 100px;
}

button {
	color: #2ecc71;
	font-weight: bold;
	border: 2px solid #2ecc71;
	width: 180px;
	height: 55px;
	margin-top: 50px;
}

button:hover {
	background-color: #2ecc71;
	color: white;
}

#skills .container {
	align-items: inherit;
	padding-bottom: 100px;
}

#skills .container .boxskills:last-child h4:first-child {
	margin-top: 163px;
}

#vert1 {
	background-color: #2ecc71;
	color: #fff;
	font-family: 'Roboto';
	font-size: 22px;
	line-height: 30px;
	width: 90%;
	height: 30px;
	text-align: right;
	padding-right: 10px;
	margin-left: 0;
}

#vert2 {
	background-color: #2ecc71;
	color: #fff;
	font-family: 'Roboto';
	font-size: 22px;
	line-height: 30px;
	width: 80%;
	height: 30px;
	text-align: right;
	padding-right: 10px;
	margin-left: 0;
}

#vert3 {
	background-color: #2ecc71;
	color: #fff;
	font-family: 'Roboto';
	font-size: 22px;
	line-height: 30px;
	width: 90%;
	height: 30px;
	text-align: right;
	padding-right: 10px;
	margin-left: 0;
}

#vert4 {
	background-color: #2ecc71;
	color: #fff;
	font-family: 'Roboto';
	font-size: 22px;
	line-height: 30px;
	width: 70%;
	height: 30px;
	text-align: right;
	padding-right: 10px;
	margin-left: 0;
}

.containerresume {
	padding: 10px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 100px;
}

#resume .containerresume h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: #566366;
	margin-top: 100px;
}

#resume p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #566366;
	margin-top: 95px;
}

#resume {
	background-color: #f2f2f1;
}

#resume:after{
	content: "\f0d7";
	color: #f2f2f1;
	font-family: 'FontAwesome';
	font-size: 120px;
	top: 71px;
	left: 800px;
	position: relative;
}

/*education */

.containermy {
	width: 1200px;
	margin: auto;
	display: flex;
	padding-bottom: 120px;
	border-bottom: 2px solid #919191;
}

.colonne1 {
	width: 50%;
}

.colonne2 {
	width: 50%;
	padding-left: 200px;
	padding-top: 64px;
}

.my {
	display: flex;
	margin-top: 170px;
}

.ligne {
	border-bottom: 1px dotted grey;
}

.rectvert {
	background-color: #2ecc71;
	font-weight: bold;
	padding: auto;
	width: 70px;
	height: 30px;
	text-align: center;
}

#myeducation {
	padding-bottom: 100px;
	padding-top: 100px;
}

.containerjohnstone {
	padding: 10px;
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 100px;
}

#johnstone {
	background-color: #f2f2f1;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

#point {
	margin: auto;
	text-align: center;
	padding-top: 50px;
	display: inline-flex;
	margin-bottom: 100px;
}

.point {
	border: 2px solid #2ecc71;
	width: 10px;
	height: 10px;
	margin: auto;
	border-radius: 50%;
	margin: 5px;
}

.point:hover {
	text-decoration: border;
	border: 3px solid #2ecc71;
}

#johnstone p {
	font-weight: bold;
	font-size: 18px;
	color: #566366;
	margin-top: 50px;
}

q {
    color: #566366;
    font-size: 18px;
}

.containerportfolio {
	width: 1200px;
	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 100px;
}

#portfolio .texte {
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.images {
	padding-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	    overflow: hidden;
}

#portfolio h3 {
	font-size: 30px;
	color: #566366;
}

.image {
	padding: 15px;
	    overflow: hidden;
}

#portfolio nav {
	background-color: grey;
	height: 300px;
	width: 366px;
}

.menuimage ul {
	flex-direction: column;
	text-align: left;
	margin-top: 0;
}

#portfolio .menuimage {
	padding: 15px;
}

/* HOVER DES IMAGES */


.images .image {
	width: 366px;
	height: 300px;
	position: relative;
    color: white;
    font-size: 50px;
    text-align: center;
    line-height: 260px;
    cursor: pointer;
    overflow: hidden;
}

.image div {
    width: 366px;
    height: 300px;
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: rgba(51, 204, 102, 0.7);
    display: none;
}

.image:hover div {
	display: block;
}

/* HOVER DES IMAGES */

/*Formulaire*/

.titrecontact {
	font-size: 30px;
	color: #fff;
}

.contact {
	background-color: #252e30;
}

.coordonnees p {
	font-family: 'Roboto' sans-serif;
	font-size: 18px;
	color: #919191;
	margin-right: 100px;
}

.coordonnees {
	padding-bottom: 289px;
}

.form {
	display: flex;
}

form {
	padding-top: 138px;
}

.contact #submit {
	color: #fff;
	background-color: #191f21;
	font-size: 18px;
	font-weight: bold;
	width: 185px;
	height: 55px;
	margin-top: 50px;
	border-style: none;
}

#name {
	background-color: #191f21;
	height:55px;
	width:540px;
	border-style: none;
	margin-bottom: 38px;
	margin-top: 20px;
}

#emailadress {
	background-color: #191f21;
	height:55px;
	width:540px;
	border-style: none;
	margin-bottom: 38px;
	margin-top: 20px;
}

textarea {
	background-color: #191f21;
	width: 540px;
	height: 275px;
	border-style: none;
	margin-top: 20px;
}

label {
	font-size: 18px;
	color: #fff;
}

.blanc {
	color: white;
}

/*Formulaire fin*/

 /*FOOTER*/

 #infooter{
 	background-color: #282828;
 }
 
#infooter p{
	margin:0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #4b5456;
	padding-top: 45px;
	font-size: 18px;
}

.logos{
	text-align: center;
}


.logos ul{
	display: flex;
	justify-content: center;
	padding: 0;
	padding-bottom: 20px;

}

.logos li {
	list-style:  none;
	font-size: 40px;
	color: #282828;
	
}

.fa:hover{
	color: #fff;
	cursor: pointer;
}

.logos .fa{
	font-size: 20px;
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #4b5456;
	line-height: 25px;
}