body {
	width:100%;
	margin: 0;
	padding: 0;
}




header {
	background-image: url(images/img1.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	padding-top:520px;
	padding-bottom: 0;
}

.content {
	display: flex;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	flex-direction: row;
}

p {
	margin:0;
}

.titre {
	color: #fff;
	font: 60px "Roboto", sans-serif;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	width: 750px;
	margin: auto;
}

.learn {
	text-align: center;
	border: 2px solid #fff;
	width: 180px;
	margin: auto;
	margin-top: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.learn a {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-decoration: none;
}

#boutons{
	height: 80px;
	margin: 0;
padding-right: 130px;
}

.boutons{
	color: #fff;
	text-align: right;
	width: 88%;
	padding-top: 255px;

	}

.fa {
    display: block;
    margin: 0;
    padding: 5px;
    font-size: x-small;
}

#Focal {
	font: 30px "Roboto", sans-serif;
	color:white;
	width: 20%;
}

#entete mark{
	display: inline-block;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 25px;
	background-color: #4b5456;
	color: white;

}

.CALvert {
	color: #2ecc71;

}

.menucontent {
	display: flex;
	background-color: #252e30;
	width: 100%;
	height: 70%;
    top: 0;
    padding-top: 22px;
	padding-bottom: 22px;
	margin-top: 306px;
}

#entete nav>ul {
	display: flex;
	list-style: none;
    width: 90%;
    justify-content: flex-end;


}

#entete ul li {
	padding-left: 40px;
}


a { 
	font-family: "Roboto", sans-serif;
	text-decoration: none;
	color: white;
	font-size: 16px;
	


}

a:hover {
	color: #2ecc71;
}

.colonnesvalues {
	display: flex;
}

#values
{
	padding-top: 70px;
	padding-bottom: 70px;
}


#values article{
	padding: 20px;
	
}

.colonnesvalues p{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #919191;
	text-align: justify;
}

#values article h3{
	margin-top: 0;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: #4a5052;
}

#aboutme
{background-image: url(images/img2.jpg);
 background-color: #f2f2f1;
 background-repeat: no-repeat;
 background-position: top left;
 padding-top: 96px;
 padding-bottom: 96px;
}

#aboutme section {
	width: 800px;
	padding-left: 600px;
	margin-right: auto;
	margin-left: auto;
}

#colonnes {
	display: flex;
	flex-wrap: wrap;
}

#aboutme .competences {
	width: 41%;
	padding-left: 69px;
	position: relative;

}

#aboutme p {
font-family: 'Roboto', sans-serif;
font-size:15px;
color: #919191;
padding: 10px;
	
}

#aboutme h4 {
font-family: 'Roboto', sans-serif, bold;
color: #4a5052;
font-size: 20px;
padding-left: 5px;

}

#aboutme h3 {
	font-family: 'Roboto', sans-serif, bold;
color: #4a5052;
font-size: 23px;
} 

#aboutme .competences:before{
	content: "\f0ac";
	font-family: FontAwesome, sans-serif;
	color: #2ecc71;
	font-size: 40px;
	position: absolute;
	top:26px;
	left: 0;
}

#aboutme .competences:nth-child(2):before{
	content:"\f040";
	font-family: FontAwesome, sans-serif;
	color: #2ecc71;
	font-size: 40px;
	position: absolute;
	top:26px;
	left: 0;
}

#aboutme .competences:nth-child(3):before{
	content:"\f0c0";
	font-family: FontAwesome, sans-serif;
	color: #2ecc71;
	font-size: 40px;
	position: absolute;
	top:26px;
	left: 0;
}

#aboutme .competences:nth-child(4):before{
	content:"\f0c6" ;
	font-family: FontAwesome, sans-serif;
	color: #2ecc71;
	font-size: 40px;
	position: absolute;
	top:26px;
	left: 0;
	transform: scaleY(-1);
}

#skills{
	padding-top: 70px;
	padding-bottom: 70px;  
}

.boxskills{
	width: 50%;
	padding-right: 40px;  
}
.boxskills2{
	width: 50%;
	margin-top: 50px;
  
}
.boxskills h3{
	font-family: Roboto, sans-serif;
	color: #4a5052;
    font-size: 30px;
   
}

.boxskills p{
	font-family: 'Roboto', sans-serif;
	font-size:15px;
    color: #919191;
    padding-bottom: 40px;
}
.boxskills2 p{
	font-family: 'Roboto', sans-serif;
	font-size:15px;
    color: #919191;
    padding-bottom: 40px;
}
button {
	color: #2ecc71;
	border: 2px solid #2ecc71;
	background-color: #fff;
	width: 180px;
	height: 55px;
	

}

.boxskills2 h4{
	font-family: 'Roboto', sans-serif;
	color: #4a5052;
    font-size: 20px;
    margin-bottom: 16px;

}

.resume button{
	background-color: #f2f2f1;

}
.progression{
	margin-left: 100px;
	background-color: #d9d9c9;
	width: 100%;
	height: 30px;
	margin:0;
}


#vert1{
	background-color: #2ecc71;
	color: #fff;
	height: 30px;
	width: 90%;
	text-align: right;
	line-height: 30px;
	padding-right: 10px;
}

#vert2{
	background-color: #2ecc71;
	color: #fff;
	height: 30px;
	width: 80%;
	text-align: right;
	line-height: 30px;
	padding-right: 10px;
}

#vert3{
	background-color: #2ecc71;
	color: #fff;
	height: 30px;
	width: 90%;
	text-align: right;
	line-height: 30px;
	padding-right: 10px;
}

#vert4{
	background-color: #2ecc71;
	color: #fff;
	height: 30px;
	width: 70%;
	text-align: right;
	line-height: 30px;
	padding-right: 10px;
}

#skills .content .boxskills:last-child h4:first-child {
	margin-top: 25px;
}

#skills .content {
	align-items: inherit;
}

#resume {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #f2f2f1;
	position: relative;
	text-align: center;
}

#resume:after {
	content: "\f0d7";
	color:#f2f2f1;
   position: absolute;
   font-family: 'FontAwesome';
   font-size: 5em;
   left: 925px;
    top: 300px;
}


.resume h3{
	font-family: Roboto, sans-serif;
	color: #4a5052;
    font-size: 20px;
   margin-bottom: 40px;
   text-align: center;
}

.resume p{
	font-family: 'Roboto', sans-serif;
	font-size:15px;
    color: #919191;
    margin-bottom: 40px;
      text-align: center;
}

.contentresume{
	    width: 1200px;
    margin: auto;
}


#myeducation {
	padding-top: 70px;
	padding-bottom: 20px;  
}

.contentmy{
	display: flex;
	width: 1200px;
	margin: auto;
	padding-bottom: 120px;
	border-bottom: 2px solid #919191;
}

.colonne1 {
	width: 50%;
}

.colonne2 {
	width: 50%;
}

.my {
	display: flex;
}

.colonne1 h3{
	font-family: 'Roboto', sans-serif;
	font-size:30px;
	color: #4a5052;
}

.colonne1 {
	font-family: 'Roboto', sans-serif;
	font-size:15px;
	color: #919191;

}


.colonne1 p {
	padding-bottom: 40px;
}

.colonne2{
	width: 50%;
}

.graphic h4 {
font-family: 'Roboto', sans-serif;
	font-size:30px;
	color: #4a5052;
	margin-bottom: 10px;
}

.graphic p{
		font-family: 'Roboto', sans-serif;
	font-size:15px;
    color: #919191;
    margin-bottom: 40px;
}

.CIT h4 {
	font-family: 'Roboto', sans-serif;
	font-size:30px;
	color: #4a5052;
	margin-bottom: 10px;

}

.CIT p{
	font-family: 'Roboto', sans-serif;
	font-size:15px;
    color: #919191;
     margin-bottom: 40px;
   
}

#rectvert{

	background-color: #2ecc71;
	border: 2px solid #2ecc71;
	width: 70px;
	height: 28px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
}

.ligne{
	border: 1px dotted #919191;	
}

#workexperience {
padding-top: 70px;
	
}

.contentwork

{display: flex;
	width: 1200px;
	margin: auto;
	padding-bottom: 120px;

}

#citation {
 background-color: #f2f2f1;
 padding-top: 96px;
 padding-bottom: 96px;
 text-align: center;
}

.contentcitation{
	width: 1200px;
	margin: auto;
}

quote{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #919191;
	text-align: center;
	font-style: italic;
	margin:0;
	padding-left: 20px;
	padding-right: 20px;
}

.contentcitation p {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #4a5052;
	font-weight: bold;
	padding-top: 50px;
}

#boutonscitation{
	height: 80px;
	margin: 0;
padding-top: 50px;

}

.boutonscitation{
	color: #2ecc71;
	text-align: center;
	width: 5%;
	padding-top: 30px;
	display: inline-flex;

	}






 #porfolio1

 { text-align: center;
}

.contentportfolio
{width: 1200px;
	margin: auto;
	padding-top: 50px;
}

.contentportfolio h3
{font-family: 'Roboto', sans-serif;
	font-size:30px;
	color: #4a5052;
	margin-bottom: 40px;
	text-align: center;
}

.contentportfolio p {
font-family: 'Roboto', sans-serif;
	font-size:15px;
    color: #919191;
     margin-bottom: 40px;
     text-align: center;

 }

   
.images1 nav {
	background-color: #252e30; 
	width: 364px;
	height: 303px;
	margin-top: 40px;
}

.images1 ul h4{
	color: white;
	font-family: 'Roboto', sans-serif;
	padding-top: 20px;
}
.images1 ul {
	list-style: none;
}

a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #777575;
    font-size: 16px;
}

.images1 li {
	padding-bottom: 15px;
}

.images1{
	display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;

}
.images1 .img
{
   
   text-align: center;
   overflow: hidden;
   padding-top: 40px;
   position: relative;
   overflow: hidden;
}

.images1 .img img {
    width: 100%;
    height: auto;
}



.images1 a:hover {
	color: white;
}


.cache {
	width: 366px;
	height: 303px;
	background-color:rgba(61, 204, 102, 0.7);
	position: absolute;
	top:40px;
	left:0px;
opacity: 0;
}

.cache:hover {
	opacity: 1;
	transition: opacity .3s linear;
	}

.cache .fa {
	color: #fff;
	text-align: center;
	font-size: 30px;
	padding-top: 120px;
}

.contentcontact1 {
	display: flex;
	width: 1200px;

	margin-left: auto;
	margin-right: auto; 
    padding-top: 450px;
	padding-bottom: 450px;
	margin-top: 80px;
}

.colonnescontact{
	width: 50%;
	font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 20px;
}

.contentcontact3{
	padding-top: 78px;

}

.colonnescontact p{
	margin-bottom: 50px;
}

#contactme{
	background-color: #252e30;
} 

.colonnescontact h3 {
font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    } 

.colonnescontact p {
font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #919191;
    } 

.blanc {
	color: white;
}

#name{   width: 540px;
    height: 40px;
    background-color: #4b5456;
    border-style: none;
    margin-bottom: 30px;
    margin-top: 10px;
}

footer{
	text-align: center;
	background-color: #191f21;
	padding-top:160px;
	padding-bottom: 118px;

}

footer p {

	color: #4b5456;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.iconesfoot {

display:flex;
justify-content: center;
flex-direction: row;
padding-left: 0px;
padding-top: 50px;
padding-bottom: 100px;


}





.iconesfoot .fa {
font-family: FontAwesome, sans-serif;
font-size: 30px;
color: #191f21;
   
}

.iconesfoot .fa:hover {
	color: white;
}


.reseaux {
	margin-right: 10px;
	background-color: grey;
	padding: 10px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.reseaux:last-child{
	margin-right: 0;
}
